body{
    background-image:url("../public/bg13.png");
    background-repeat:no-repeat;
    background-size:cover;
    height:150vh;

}
.divi{

width: 50vw;

    height: 100vh;

    margin-left: 30vw;

}

#img{

    width:10vw;

    height: 20vh;
    margin-left:-30vw;

}

#head{

     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Verdana;

     margin-left: 5px;

     margin-top: -23px;
    

}

#para1{

    font-size: 25px;

     font-family:Arial, Helvetica, sans-serif;

}

#para2{

      font-size: 15px;

     font-family:Arial, Helvetica, sans-serif;

     margin-top: -20px;

}

.lable{

    font-size: 17px;

    font-family:Arial, Helvetica, sans-serif;

    font-weight: 550;

    color: rgb(51, 50, 50);

}

.input{

   

    width:45vw;

        height:8vh;

        border-radius: 15px;

        border: 1px solid rgb(187, 176, 176);

         font-weight: 550;

    color: rgb(51, 50, 50);

    font-size: 15px;

}



select{

    

     width:15vw;

        height:8vh;

         border-radius: 15px;

        border: 1px solid rgb(187, 176, 176);

        font-family:Arial, Helvetica, sans-serif;

}



#login{

     width: 45vw;

        height: 7vh;

        background-color: rgb(0, 117, 226);

        border-radius: 40px;

        border: 0px;

        font-family:Arial, Helvetica, sans-serif;

        color: white;

        font-size: 17px

}



#login:hover{

    background-color:rgb(5, 65, 134);

}

#no{

    width: 45vw;

        height: 7vh;

        border-radius: 40px;

        border:0px solid white;

        font-family:Arial, Helvetica, sans-serif;

        font-size: 15px

}

#no:hover{

     background-color:rgb(221, 220, 220);

}

#link{

    font-size: 16px;

    font-family:Arial, Helvetica, sans-serif;

    color: rgb(51, 49, 49);



}