.divv{
    padding-inline-start: 50px;
}
#searchHeading {
  background-image: linear-gradient(to right, red, rgb(252, 175, 33), rgb(235, 10, 223), rgb(184, 23, 216), violet);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  text-align: center;
  font-size: x-large;
}
#flexbox{
   display: flex;
   margin-left: 30vw;
}
#Select{
  width: 40vw;
  padding: 10px 200px;
}
#Select:hover{
    background-color: rgb(255, 255, 255);
}

#backbtn{
    margin-left: 10vw;
    width: 10vw;
    border-radius: 20px;
     background-color:white;
    border:1px solid black;
}
.postGrid{
    gap:30px;
}
.postCard{
    background-image: url("../public/bg17.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    box-shadow: 7px  5px 10px rgb(143, 142, 142);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(128, 130, 128);
    
}
.postCard:hover{
transform: scale(1.05);
}
#backbtn:hover{
  /* background-color:aquamarine; */
  box-shadow: 10px 10px 30px rgb(154, 238, 244);
}
.previewImage {
  position: fixed;
  top: 10vw;
  left: 25vw;
  width: 50%;
  height: 70%;
  background: rgba(50, 49, 49, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border-radius:20px;
}

.previewbox {
    margin-top:-30vh;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  height: 50%;
  text-align: center;
}

.previewbox img {
  max-width: 50%;
  max-height: 50vh;
  border-radius: 10px;
}