.backside{
    position:fixed;
    top:0;
    left: 0%;;
    width:50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-image: url("../public/bg15.jpeg");
}
.fp-model{
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 5px 20px rgb(181, 248, 253);
    padding: 25px;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:12px
}
.ip{
    padding:2px 10px;
    width:80%
}
.fp-btn{
    display: flex;
    justify-content: space-between;
   
}
#Changebtn{
     border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgb(181, 248, 253);
    border:1px solid rgb(8, 144, 154);
}
#Changebtn:hover{
    background-color: rgb(190, 244, 111);
}
#canbtn{
     border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgb(181, 248, 253);
    border:1px solid rgb(8, 144, 154);
}
#canbtn:hover{
    background-color: rgb(255, 146, 146);
}
